add_path D:\iTelescope\image_processing_scripts\phase_2\astrometry_data
autoindex
inparallel

# Phase 2 Pipeline Auto-Patch
add_path /media/plato/primabera/imtiaz/image_processing_scripts/phase_2/astrometry_data
autoindex
inparallel

# Phase 2 Pipeline Auto-Patch
add_path /media/plato/imtiaz/image_processing/image_processing_scripts/phase_2/astrometry_data
autoindex
inparallel
